.app{
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* CSS for Navigation.tsx file*/
.navigation{
  background-color: blue;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-radius: 0.4rem;
}
.navigation-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.logo{
  font-size: 2rem;
}
.navigation-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  margin-right: 1rem;
}
.switch{
  display: inline-block;
  width: 100%;
  height: 2rem;
}
/* end of navigation component*/

/* Header component */

.btn-black{
  color: black;
  cursor: pointer;
}
.btn-blue{
  color: blue;
  cursor: pointer;
}
.btn-blue:hover{
  background-color: green;
}
.btn-black:hover{
  background-color: red;
}