:root{
 --default-background-color : grey;
 --primary-header-background-color: blue;
}

*{
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: auto;
  background-color: #232323;
  box-shadow: 0rem 0rem 2rem 1.6rem rgba(3, 3, 3, 0.18);
}
.country-details{
  width: 100%;
  padding: 1rem 1rem;
}
.table-details{
  width: 90%;
  border-collapse: collapse;
}
.table-details__head{
  padding: 1rem;
}
.table-details__head tr,th{
  font-size: 1.6rem;
  height: 4rem;
  text-align: center;
}
.table-details__body{
  padding: 1rem;
}
.table-details__body tr,td{
  font-size: 1.6rem;
  height: 4rem;
  text-align: center;
}
.paginate-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.paginate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.page{
  background-color: grey;
  color: red;
  border-radius: 50%;
}
